$cor-primaria: #37AB00;
$cor-fundo: #FBFEF4;
$cor-fundo2: #fff;

$preto-transparente-70: #000000B3;
$preto-transparente-30: #0000004D;
$preto-transparente-20: #00000033;
$preto-transparente-03: #00000008;